<h1>Sveiki <%= @user.name %>, Naujas kirtimų leidimas buvo pridėtas teritorijoje, kurią Jūs sekate </h1>
<p>
  Daugiau informacijos apie naują kirtimų leidimą galite rasti žemiau:
  <a href=<%= ENV['BASE_URL'] + "/leidimai/#{@leidimas_id}" %>><%= ENV['BASE_URL'] + "/leidimai/#{@leidimas_id}"%></a>
</p>
<p>Ačiū, kad naudojates mūsų programa ir linkime Jums geros dienos!</p>
