<nav class="navbar navbar-expand-md navbar-dark" style="background-color: #228B22;">
  <%= link_to 'Tree Cutting', root_path, class: 'navbar-brand' %>

  <div class="collapse navbar-collapse" id="navbarColor01">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item">
        <%= link_to 'Maps', maps_path, class: 'nav-link' %>
      </li>
    </ul>
  </div>
</nav>
